.signup-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width: 500px;
        height: 500px;
        padding: 20px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .signup-title{
            font-size: 32px;
            text-align: center;
            color: #fff;
        }
        input{
            height: 48px;
            width: 100%;
            border-radius: 30px;
            padding: 6px 6px 6px 20px;
            outline: none;
            font-size: 16px;
            color: #000f25;
            background: #fff;
            ::placeholder{
                color: #999;
            }
        }
        .login-link-btn-container{
            display: flex;
            justify-content: flex-end;
            .login-link-btn{
                cursor: pointer;
                border: none;
                background: none;
                text-decoration: underline;
                color: #0866ff;
            }
        }
        .create-account-btn{
            display: flex;
            cursor: pointer;
            border: none;
            justify-content: center;
            align-items: center;
            border-radius: 28.5px;
            padding: 10px 31px;
            font-size: 18px;
            font-weight: 600;
            color: #0b1b32;
            background-color: #ffd84d;
        }
    }
}